<template>
<q-card style="width: 800px; max-width: 80vw;">
    <q-card-section>
        <div class="row items-center">
            <q-icon
                name=""
                color="primary"
                size="sm" />
            <div class="text-grey-9 text-h6 q-mt-sm q-ml-sm">Ver noticia</div>
        </div>
        <div class="divider"> <span></span></div>
    </q-card-section>
    <q-card-section>
        <div class="row q-px-md" v-if="!loading">
            <div class="col-12 q-mt-sm">
                <div class="text-bold">Titulo:</div>
                <div>{{data.title}}</div>
            </div>
            <div class="col-12 q-mt-sm">
                <div class="text-bold">Subtitulo:</div>
                <div>{{data.caption}}</div>
            </div>
            <div class="col-12 q-mt-sm">
               <div class="text-bold">Conteudo:</div>
                <div class="text-justify">{{data.content}}</div>
            </div>
            <div class="col-12 q-mt-sm">
                <div class="text-bold">Fonte:</div>
                <div>{{data.source}}</div>
            </div>
            <div class="col-12 q-mt-sm">
                <div class="text-bold">Data de publicação:</div>
                <div>{{getDateTime(data.publication_date)}}</div>
            </div>
            <div class="col-12 q-mt-sm">
                <div class="text-bold">url:</div>
                <div>{{data.url}}</div>
            </div>

        </div>
        <div v-if="loading">
            <div class=text-center>
                <q-spinner
                    color="primary"
                    size="4em"
                    :thickness="2" />
            </div>
        </div>
    </q-card-section>
    <q-card-actions align="right">
        <q-btn
            color="primary"
            v-close-popup>
            <div class="text-white">Fechar</div>
        </q-btn>
    </q-card-actions>
</q-card>
</template>

<style scoped>
.divider {
    border-bottom: 2px solid rgb(207, 207, 207);
    background-color: #DADADA;
    height: 2px;
    margin: 0.5em 0px 1.5em;
}

.divider span {
    display: block;
    width: 250px;
    height: 2px;
    background-color: #68D0C0;
}
</style>

<script>
import helper from '../mixins/helper'
import news from '../api/news';

export default {
    mixins: [helper],
    props: ["id"],

    data() {
        return {
            text:'',
            data: [],
            loading: true
        }
    },
    methods: {
        getNews() {
            news.show(this.id)
                .then((result) => {
                    this.data = result.data.news
                    this.loading = false
                })
                .catch((error) => {
                    this.loadUpload = false
                    this.$q.notify({
                        color: "negative",
                        textColor: "white",
                        icon: "mdi-close-circle-outline",
                        message: "Aconteceu um erro ao buscar a noticia",
                        position: "top",
                        timeout: 4000,
                    });
                });
        },
        date(date){
            console.log('entrou')
            return 'q'
        }
    },
    mounted() {
        this.getNews()
    }
}
</script>
