<template>
<div class="row">
    <div class="col-3 text-center">
        <q-img
            src="../assets/web_search.png"
            style="max-width: 190px; height: 190px;"
            fit="contain" />
    </div>
    <div class="col q-mt-lg">
        <div class="text-primary text-h4 text-bold">Pesquise na maior base da dados de conteudo do Brasil</div>
        <div class="text-grey-8 text-justify text-h6">
            A Plataforma InGuru pesquisa em milhares de fontes de conteúdo online e offline, incluindo uma solução exclusiva que pesquisa em rádio e TV.
            utilize os filtros de pesquisa e veja o que está sendo falado sobre a sua empresa e os seus concorrentes.</div>
    </div>
</div>
<div style="padding: 4% 10%">
    <div class="text-grey-9 text-h6">Veja abaixo algumas dicas para potencializar sua pesquisa:</div>
    <q-list>
        <q-expansion-item default-opened>
            <template v-slot:header>
                <div class="text-grey-7 self-center" style="font-size: 16px">PALAVRA-CHAVE</div>
            </template>
            <div class="q-pl-md">
                "Brasil" gera resultados de notícias com a palavra-chave "Brasil"
            </div>
        </q-expansion-item>
        <q-separator class="q-my-sm" />

        <q-expansion-item>
            <template v-slot:header>
                <div class="text-grey-7 self-center" style="font-size: 16px">OPERADORES BOLEANOS</div>
            </template>
            <div class="q-pl-md">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
            </div>
        </q-expansion-item>
        <q-separator class="q-my-sm" />

        <q-expansion-item>
            <template v-slot:header>
                <div class="text-grey-7 self-center" style="font-size: 16px">OPERADORES CURINGAS</div>
            </template>
            <div class="q-pl-md">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
            </div>
        </q-expansion-item>
        <q-separator class="q-my-sm" />

        <q-expansion-item>
            <template v-slot:header>
                <div class="text-grey-7 self-center" style="font-size: 16px">PESQUISA POR CAMPOS</div>
            </template>
            <div class="q-pl-md">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
            </div>
        </q-expansion-item>
        <q-separator class="q-my-sm" />

        <q-expansion-item>
            <template v-slot:header>
                <div class="text-grey-7 self-center" style="font-size: 16px">PESQUISA POR PROXIMIDADE DE CARACTERES</div>
            </template>
            <div class="q-pl-md">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
            </div>
        </q-expansion-item>
        <q-separator class="q-my-sm" />

        <q-expansion-item>
            <template v-slot:header>
                <div class="text-grey-7 self-center" style="font-size: 16px">PESQUISA POR RELEVÃNCIA</div>
            </template>
            <div class="q-pl-md">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
                commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
                eveniet doloribus ullam aliquid.
            </div>
        </q-expansion-item>
        <q-separator class="q-my-sm" />

    </q-list>

</div>
</template>

<script>
export default {
    data() {
        return {

        }
    }
}
</script>
