<template>
<q-card style="width: 800px; max-width: 80vw;">
    <q-card-section>
        <div class="row items-center">
            <q-icon
                name="upload"
                color="primary"
                size="sm" />
            <div class="nunito-bold text-primary q-mt-sm q-ml-sm">Carregar e Indexar arquivo Json</div>
        </div>
        <div class="divider"> <span></span></div>
        <q-file
            outlined
            v-model="attachment"
            :rules="[val => !!val || '* Necessario']"
            accept=".json"
            lazy-rules>
            <template v-slot:prepend>
                <q-icon name="attach_file" />
            </template>
        </q-file>
    </q-card-section>

    <q-card-actions align="right">
        <q-btn
            flat
            color="grey-7"
            :disable="loadUpload"
            v-close-popup>
            <div class="nunito-bold">NÃO</div>
        </q-btn>
        <q-btn
            @click="onClickButton"
            flat
            :loading="loadUpload"
            color="primary">
            <div class="nunito-bold">SIM</div>
        </q-btn>
    </q-card-actions>
</q-card>
</template>

<style scoped>
.divider {
    border-bottom: 2px solid rgb(207, 207, 207);
    background-color: #DADADA;
    height: 2px;
    margin: 0.5em 0px 1.5em;
}

.divider span {
    display: block;
    width: 250px;
    height: 2px;
    background-color: #68D0C0;
}
</style>

<script>
import news from '../api/news';

export default {
    data() {
        return {
            attachment: null,
            loadUpload: false,
            error: '',
        }
    },

    methods: {
        onClickButton() {

            if (this.attachment) {
                this.loadUpload = true
                news.store(this.attachment)
                    .then((result) => {
                        this.$emit('sucess', true)
                    })
                    .catch((error) => {
                        this.loadUpload = false
                        this.$q.notify({
                            color: "negative",
                            textColor: "white",
                            icon: "mdi-close-circle-outline",
                            message: "Aconteceu um erro ao processar o arquivo",
                            position: "top",
                            timeout: 4000,
                        });
                    });

            } else {
                this.$q.notify({
                    color: "negative",
                    textColor: "white",
                    icon: "mdi-close-circle-outline",
                    message: 'Selecione um arquivo',
                    position: "top",
                    timeout: 4000,
                });
            }
        },
    }
}
</script>
