// app global css in SCSS form

@font-face {
    font-family: nunito-light;
    src: url(./fonts/Nunito/Nunito-Light.ttf);
}
@font-face {
    font-family: nunito-regular;
    src: url(./fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: nunito-bold;
    src: url(./fonts/Nunito/Nunito-Bold.ttf);
}


*{
    font-family: nunito-regular;
}

.nunito-bold{
    font-family: nunito-bold;
}
