<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container class="background" style="overflow: hidden">
      <Authentication />
    </q-page-container>
  </q-layout>
</template>

<script>

import Authentication from '../pages/Authentication.vue'

export default {
  name: "AuthLayout",
  components: {
    Authentication,
  },
  data() {
    return {};
  },
  mounted() {},
  watch: {},
  methods: {},
};
</script>

<style scoped>
.background {
 
  background: white; 
}
</style>