<template>
<q-layout view="lHh Lpr lFf">
    <q-toolbar class="bg-white">
        <img class="q-ml-sm" src="../assets/logo_knewin.svg" alt="" width="160" style="cursor:pointer" @click="this.$router.replace('/')">
        <q-space />

        <div class="row items-center text-primary">
            <q-btn
                @click="logout()"
                flat
                round
                dense
                icon="las la-sign-out-alt" />
        </div>
    </q-toolbar>
    <q-page-container>
        <router-view />
    </q-page-container>
</q-layout>
</template>

<script>
import Auth from '../api/auth.js'
import {
    LocalStorage
} from 'quasar'

export default {
    name: 'MainLayout',
    methods: {
        logout() {
            this.loading = true
            Auth.logout()
                .finally(result => {
                    localStorage.clear()
                    this.$router.go()
                })
        },
    },
}
</script>
