<template>
<router-view />
</template>

<script>
import {
    LocalStorage
} from 'quasar'

import Auth from './api/auth.js'

import {
    setBearerToken
} from './api/http.js'

export default {
    name: 'App',

    mounted() {
        setBearerToken(LocalStorage.getItem('access_token'))
        Auth.me()
            .then(result => {
                LocalStorage.set('loggedIn', true)
            })
            .catch(error => {
                localStorage.clear()
                this.$router.replace('/autenticar/')
            })

    }

}
</script>
