<template>
<q-page class="hide-scroll-bar">
    <div class="absolute-center" style="z-index: 999">
        <q-card class="auth-card bg-grey-3">
            <q-card-section>
                <div class="logoContainer flex flex-center">
                    <img alt="Application logo" src="../assets/logo_knewin.svg" />
                </div>
                <q-form class="q-gutter-lg">
                    <q-input
                        v-model="SignInFormData.user"
                        @keydown.enter.prevent="signIn"
                        label="E-MAIL"
                        filled
                        dense
                        unmasked-value
                        :input-class="'nunito-bold'">
                        <template v-slot:prepend>
                            <q-icon name="mdi-at" />
                        </template>
                    </q-input>
                    <q-input
                        v-model="SignInFormData.password"
                        @keydown.enter.prevent="signIn"
                        label="SENHA"
                        filled
                        dense
                        :type="isPwd ? 'password' : 'text'"
                        :input-class="'nunito-bold'">
                        <template v-slot:prepend>
                            <q-icon name="mdi-lock-outline" />
                        </template>
                        <template v-slot:append>
                            <q-icon
                                :name="isPwd ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
                                class="cursor-pointer"
                                @click="isPwd = !isPwd" />
                        </template>
                    </q-input>
                </q-form>
            </q-card-section>
            <q-card-section>
                <q-btn
                    id="sign-in-button"
                    :disable="loading ? true : false"
                    class="full-width q-mb-sm"
                    outline
                    type="submit"
                    color="primary"
                    @click="signIn">
                    <div v-if="!loading" id="sign-in-text">
                        ENTRAR
                    </div>
                    <div v-if="loading" id="sign-in-load">
                        <q-spinner-tail color="primary" size="1em" />
                    </div>
                </q-btn>
            </q-card-section>
            <q-card-section class="bg-grey-1">
                <div class="text-grey-6 text-center" style="font-size: 12px; margin-top: -8px; margin-bottom: 15px">
                    ENTRE EM CONTATO
                </div>
                <div class="row items-center justify-around">
                    <q-icon
                        name="mdi-email-open-outline"
                        size="sm"
                        color="primary">
                        <q-tooltip class="bg-primary text-white" :offset="[10, 10]">
                            <div class="nunito-bold" style="font-size: 12px">
                                contato@knewin.com
                            </div>
                        </q-tooltip>
                    </q-icon>
                    <q-icon
                        name="mdi-phone-outline"
                        size="sm"
                        color="primary">
                        <q-tooltip class="bg-primary text-white" :offset="[10, 10]">
                            <div class="nunito-bold" style="font-size: 12px">
                                77 77777-7777
                            </div>
                        </q-tooltip>
                    </q-icon>
                    <q-icon
                        name="mdi-whatsapp"
                        size="sm"
                        color="primary">
                        <q-tooltip class="bg-primary text-white" :offset="[10, 10]">
                            <div class="nunito-bold" style="font-size: 12px">
                                99 99999-9999
                            </div>
                        </q-tooltip>
                    </q-icon>
                </div>
            </q-card-section>
        </q-card>
    </div>

    <div class="absolute-bottom text-center q-mb-md footer">
        TODOS OS DIREITOS RESERVADOS
        <span>
            <a href="https://www.instagram.com/_uilson_jr/" target="_blank">UILSON JÚNIOR</a>
        </span>
        © 2021
    </div>
</q-page>
</template>

<script>
import Auth from '../api/auth.js'
import {
    setBearerToken
} from "../api/http.js";

import {
    LocalStorage
} from 'quasar'

export default {
    name: "PageAuth",

    data() {
        return {
            loading: false,
            isPwd: true,
            SignInFormData: {
                user: "teste@mail.com",
                password: "secret",
            }
        };
    },

    mounted() {

    },
    watch: {

    },
    methods: {
        signIn() {
            this.loading = true

            Auth.login({
                    email: this.SignInFormData.user,
                    password: this.SignInFormData.password
                })
                .then(result => {
                    this.loading = false

                    let token = result.data.access_token
                    setBearerToken(token)
                    LocalStorage.set('access_token', token)
                    LocalStorage.set('loggedIn', true)

                    this.$router.push('/')

                })
                .catch(error => {
                    console.log(error)
                    this.loading = false
                    this.$q.notify({
                        color: 'negative',
                        textColor: 'white',
                        icon: 'mdi-close',
                        message: 'Desautorizado',
                        position: 'top',
                        timeout: 4000
                    })

                })

        }
    },
};
</script>

<style>
#sign-in-button .disabled {
    opacity: 1 !important;
}

#sign-in-button {
    cursor: pointer !important;
}

#sign-in-button * {
    cursor: pointer !important;
}
</style><style lang="scss" scoped>
.logoContainer {
    height: 150px;
}

.auth-card {
    min-height: 400px;
    min-width: 330px;
}

.forgot-password {
    font-size: 10px;
}

.forgot-password:hover>div {
    color: $primary !important;
}

#sign-in-button {
    height: 40px;
}

#sign-in-text {
    font-size: 14px;
}

.footer {
    font-size: 14px;
    font-family: nunito-bold;
    color: rgb(70, 70, 70);
}

.footer span a {
    font-family: nunito-bold;
    text-decoration: none;
    color: rgb(70, 70, 70);
}

.footer span a:hover {
    text-decoration: underline;
}
</style>
