<template>
<q-page class="page-body" style="background: #F1F2F7">
    <div class="row q-pt-md">
        <div class="col-12 q-pl-md row">

            <div class="wrapper">
                <ul class="breadcrumbs">
                    <li><a class="cursor-pointer">Home</a></li>
                    <li><a class="cursor-pointer">Busca de informações</a></li>
                </ul>
            </div>
            <q-space />
            <q-btn
                icon="upload"
                class="text-white"
                color="primary q-mr-sm"
                @click="showUploadDialog = !showUploadDialog">SUBIR NOVAS NOTÍCIAS</q-btn>
        </div>
        <div class="col-3 q-pa-md">
            <div class="bg-white">
                <div class="q-pa-lg" style="background: #DEDFE6">
                    <div class="text-black" style="font-size: 17px">Usar pesquisa salva
                        <q-icon style="font-size: 20px" name="las la-question-circle">
                            <q-tooltip
                                anchor="top middle"
                                self="bottom middle"
                                :offset="[10, 10]">
                                Aqui vai um texto de ajuda!
                            </q-tooltip>
                        </q-icon>
                    </div>

                    <q-select
                        dense
                        :loading="loadingSearch"
                        :options="optionsTerms"
                        v-model="term"
                        emit-value
                        use-input
                        map-options
                        label="--Selecione--"
                        @filter="filterFn"
                        behavior="menu">
                        <template v-slot:no-option>
                            <q-item>
                                <q-item-section class="text-grey">
                                    Sem resultados
                                </q-item-section>
                            </q-item>

                        </template>
                    </q-select>
                </div>
                <div class="q-pa-lg">

                    <div class="text-black">Palavras-chaves
                        <q-icon style="font-size: 20px" name="las la-question-circle">
                            <q-tooltip
                                anchor="top middle"
                                self="bottom middle"
                                :offset="[10, 10]">
                                Aqui vai um texto de ajuda!
                            </q-tooltip>
                        </q-icon>
                    </div>
                    <div class="search-field">
                        <q-input
                            v-model="searchfild"
                            outlined
                            dense
                            type="textarea" />
                        <q-btn
                            class="btn-search-field"
                            color="primary"
                            round
                            dense
                            @click="searchfild=''">
                            <q-icon
                                name="fas fa-redo-alt"
                                class="text-white"
                                style="font-size:17px" />
                        </q-btn>
                    </div>

                    <div class="text-grey-7 q-mb-sm cursor-pointer" style="text-decoration: underline;"> Assistente de pesquisa
                        <q-icon name="fas fa-cogs" style="font-size:11px" />
                    </div>
                    <div>
                        <div class="q-pa-none" style="top: -20px">Fontes</div>
                        <div class="row cursor-pointer" @click="sourceDialog = true">
                            <div class="col text-grey-8">{{source}}</div>
                            <q-icon name="fas fa-plus" />
                        </div>
                        <q-separator />
                    </div>

                    <div class="row q-mt-lg">
                        <div class="col-6 q-pr-sm">
                            <div>Data inicial</div>
                            <q-input
                                dense
                                v-model="date.start"
                                mask="##/##/####">
                                <template v-slot:append>
                                    <q-icon
                                        name="fas fa-calendar"
                                        style="font-size: 16px"
                                        class="cursor-pointer">
                                        <q-popup-proxy
                                            ref="qDateProxy"
                                            transition-show="scale"
                                            transition-hide="scale">
                                            <q-date v-model="date.start" mask="DD/MM/YYYY">
                                                <div class="row items-center justify-end">
                                                    <q-btn
                                                        v-close-popup
                                                        label="Close"
                                                        color="primary"
                                                        flat />
                                                </div>
                                            </q-date>
                                        </q-popup-proxy>
                                    </q-icon>
                                </template>
                            </q-input>
                        </div>
                        <div class="col-6 q-pl-sm">
                            <div>Data Final
                                <q-icon
                                    class="float-right"
                                    style="font-size: 20px"
                                    name="las la-question-circle">
                                    <q-tooltip
                                        anchor="top middle"
                                        self="bottom middle"
                                        :offset="[10, 10]">
                                        Aqui vai um texto de ajuda!
                                    </q-tooltip>
                                </q-icon>
                            </div>

                            <q-input
                                dense
                                v-model="date.end"
                                mask="##/##/####">
                                <template v-slot:append>
                                    <q-icon
                                        name="fas fa-calendar"
                                        style="font-size: 16px"
                                        class="cursor-pointer">
                                        <q-popup-proxy
                                            ref="qDateProxy"
                                            transition-show="scale"
                                            transition-hide="scale">
                                            <q-date v-model="date.end" mask="DD/MM/YYYY">
                                                <div class="row items-center justify-end">
                                                    <q-btn
                                                        v-close-popup
                                                        label="Close"
                                                        color="primary"
                                                        flat />
                                                </div>
                                            </q-date>
                                        </q-popup-proxy>
                                    </q-icon>
                                </template>
                            </q-input>
                        </div>
                    </div>
                    <div class="text-primary q-mt-md cursor-pointer" style="font-size: 16px">
                        <q-icon name="las la-plus" />Mais filtros
                    </div>
                </div>
                <div class="text-white q-pl-sm q-pb-xl">
                    <div class="q-mb-sm">
                        <q-btn color="primary" @click="search()">
                            <div>PESQUISAR</div>
                        </q-btn>
                    </div>
                    <div>
                        <q-btn class="bg-grey-8">
                            <div>EXPORTAR CSV</div>
                        </q-btn>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 q-pa-md" v-if="!seek">
            <helper-section />
        </div>

        <div
            class="col-9 q-pa-md"
            :class="{'flex flex-center':loadingNews}"
            v-else>
            <div v-if="!loadingNews">
                <q-card
                    v-for="article in news"
                    :key="article"
                    class="q-mb-md q-pa-md">
                    <div class="row items-center">
                        <div class="text-h6 text-bold text-grey-8">{{article.title + ' - ' + article.source.toUpperCase()}}</div>
                        <q-space />
                        <div class="text-grey-6">{{getDateTime(article.publication_date)}}</div>
                    </div>
                    <div class="row items-end">
                        <div class="text-grey-7 q-mt-sm">{{article.caption}}</div>
                        <q-space />
                        <q-btn
                            color="primary"
                            style="margin-left:auto"
                            icon="las la-chevron-circle-down"
                            label="Ver Noticia"
                            @click="showNews(article.id)" />
                    </div>
                </q-card>
                <div class="text-h3 text-grey-8 text-center" v-if="news == 0">
                    Nenhum resultado encontrado!
                </div>
            </div>
            <div v-if="loadingNews">
                <div class="text-center ">
                    <q-spinner-tail color="primary" size="4em" />
                </div>
            </div>
        </div>
    </div>

    <q-dialog v-model="sourceDialog">
        <q-card class="q-px-md q-pt-md" style="width: 1000px; max-width: 90vw;">
            <q-card-section>
                <div class="text-h6">Fontes</div>
                <q-separator />
            </q-card-section>

            <q-card-section class="q-pt-none">
                <div class="row">
                    <q-select
                        class="q-mr-md"
                        style="width: 250px;"
                        dense
                        :options="sourceTypes"
                        v-model="selectedSourceType"
                        emit-value
                        map-options
                        :disable="loadingSources"
                        hint="Selecionar Categoria"
                        behavior="menu" />

                    <q-input
                        style="width: 200px;"
                        v-model="searchFilter"
                        label="Filtre aqui pelo nome"
                        dense />
                </div>

            </q-card-section>
            <q-card-section v-if="loadingSources">
                <div class="text-center flex flex-center">
                    <q-spinner-tail color="primary" size="4em" />
                </div>
            </q-card-section>
            <q-card-section class="q-pt-none" v-if="sourcefilter.length && !loadingSources">
                <div class="row q-pa-sm">
                    <div
                        class="col-4"
                        v-for="source in sourcefilter"
                        :key="source">
                        <q-checkbox
                            v-model="selectedSource"
                            :val="source"
                            :label="source"
                            color="primary" />

                    </div>
                </div>

            </q-card-section>
            <q-card-section>
                <div class="row q-mt-md items-center" style="border: 1px solid; height:36px">
                    <q-badge
                        v-for="source in selectedSource"
                        :key="source"
                        color="orange-7"
                        dense
                        class="q-mx-sm"
                        style="height:26px; font-size:12px">
                        <q-icon
                            @click="removeSource(source)"
                            class="cursor-pointer"
                            name="fas fa-times"
                            style="font-size:12px" />
                        <div class="text-white">{{ source }}</div>
                    </q-badge>
                </div>
            </q-card-section>
            <q-card-section v-if="!sourcefilter.length && !loadingSources">
                <div class="text-center flex flex-center">
                    <div class="text-grey-8">SEM RESULTADOS</div>
                </div>
            </q-card-section>
            <q-card-actions align="right" class="bg-white text-teal">

                <div class="text-white row">
                    <div class="q-mr-md">
                        <q-btn color="primary" @click="selectedSource = []">
                            <div>LIMPAR</div>
                        </q-btn>
                    </div>
                    <div>
                        <q-btn color="primary" v-close-popup>
                            <div>SALVAR</div>
                        </q-btn>
                    </div>
                </div>
            </q-card-actions>
        </q-card>
    </q-dialog>

    <q-dialog v-model="newsShowDialog" persistent>
        <news-dialog :id="newsId" />
    </q-dialog>

    <q-dialog v-model="showUploadDialog" persistent>
        <upload-dialog @sucess="UploadSucess" />
    </q-dialog>
</q-page>
</template>

<script>
import SalvedSearch from '../api/SalvedSearch'
import News from '../api/news';
import newsDialog from '../components/newsDialog.vue';
import uploadDialog from '../components/uploadDialog.vue';
import helper from '../mixins/helper'
import SearchHelper from '../components/searchHelper.vue'

export default {
    name: 'search',
    components: {
        'news-dialog': newsDialog,
        'upload-dialog': uploadDialog,
        'helper-section': SearchHelper,
    },
    mixins: [helper],

    data() {
        return {
            showUploadDialog: false,
            seek: false,
            loadingSearch: false,
            loadingSources: false,
            allOptionsTerms: [],
            optionsTerms: [],
            term: null,
            searchfild: '',
            date: {
                start: null,
                end: null
            },
            sourceDialog: false,
            selectedSource: [],
            searchFilter: '',
            selectedSourceType: null,
            sourceTypes: [
                'Noticias',
                'Blog',
                'Internet'
            ],
            sourceData: [],
            newsShowDialog: false,
            loadingNews: false,
            newsId: null,
            news: [],
        }
    },
    methods: {
        loadSalvedSearchs() {
            this.loadingSearch = true
            SalvedSearch.terms()
                .then(result => {
                    this.allOptionsTerms = [] =
                        result.data.terms.forEach(item => {
                            this.allOptionsTerms.push(
                                item.term,
                            )

                        })
                    this.loadingSearch = false
                })
                .catch(error => {
                    this.loadingSearch = false
                })

        },
        removeSource(source) {
            this.selectedSource.splice(this.selectedSource.indexOf(source), 1);
        },
        getNewsSources() {
            this.loadingSources = true
            News.sources()
                .then(result => {
                    this.sourceData = []
                    result.data.sources.forEach(item => {
                        this.sourceData.push(
                            item.source
                        )

                    })
                    this.loadingSources = false
                })
                .catch(error => {
                    this.loadingSources = false
                })
        },
        async search() {
            if (!this.searchfild) {
                this.$q.notify({
                    color: 'negative',
                    textColor: 'white',
                    icon: 'mdi-close',
                    message: 'Preencha o campo de Palavras-chave',
                    position: 'top',
                    timeout: 4000
                })
                return
            }
            if (this.selectedSource.length == 0) {
                this.$q.notify({
                    color: 'negative',
                    textColor: 'white',
                    icon: 'mdi-close',
                    message: 'Selecione ao menos uma fonte',
                    position: 'top',
                    timeout: 4000
                })
                return
            }
            if (!this.date.start || !this.date.end) {
                this.$q.notify({
                    color: 'negative',
                    textColor: 'white',
                    icon: 'mdi-close',
                    message: 'Preencha a data inicial e a final',
                    position: 'top',
                    timeout: 4000
                })
                return
            }

            this.loadingNews = true;
            this.seek = true;

            try {
                const result = await News.index({
                    search: this.searchfild,
                    source: this.selectedSource.join(),
                    start_date: this.date.start.split('/').reverse().join('-'),
                    end_date: this.date.end.split('/').reverse().join('-'),

                });
                this.news = Object.values(result.data.news)
                this.loadingNews = false;
            } catch (error) {
                this.loadingNews = false;
                this.$q.notify({
                    color: "negative",
                    textColor: "white",
                    icon: "mdi-alert-circle-outline",
                    message: 'Ocorreu um erro inesperado',
                    position: "top",
                    timeout: 4000,
                });
            }
        },
        showNews(id) {
            this.newsId = id
            this.newsShowDialog = true
        },
        UploadSucess() {
            this.showUploadDialog = false
            this.$q.notify({
                color: "positive",
                textColor: "white",
                icon: "mdi-check-circle-outline",
                message: 'Noticias carregadas e Indexadas com sucesso',
                position: "top",
                timeout: 4000,
            });
        },
        filterFn(val, update) {
            if (val === '') {
                update(() => {
                    this.optionsTerms = this.allOptionsTerms
                })
                return
            }

            update(() => {
                const needle = val.toLowerCase()
                this.optionsTerms = this.allOptionsTerms.filter(v => v.toLowerCase().indexOf(needle) > -1)
            })
        }
    },
    mounted() {
        this.loadSalvedSearchs();
    },
    computed: {
        source() {
            return this.selectedSource.length + ' itens selecionados'
        },
        sourcefilter() {
            return this.sourceData.filter(item => {
                return item.toLowerCase().includes(this.searchFilter.toLowerCase())
            })
        }
    },
    watch: {
        term: function () {
            this.searchfild = '(' + this.term + ')'
        },
        selectedSourceType: function (type) {
            this.sourceData = []
            if (type == 'Noticias') {
                this.getNewsSources()
            }
            // outros metodos que buscam e tratam os dados de outros tipos de fontes
        }
    }
}
</script>

<style lang="scss" scoped>
@mixin inline {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

ul.breadcrumbs {
    padding: 0px;
    font-size: 0px;
    line-height: 0px;
    @include inline;

    li {
        position: relative;
        margin: 0px 0px;
        padding: 0px;
        list-style: none;
        list-style-image: none;
        @include inline;
        transition: 0.3s ease;

        &:hover {
            &:before {
                border-left: 10px solid $primary;
            }

            a {
                color: #000;
                background: $primary;
            }

        }

        &:before {
            content: "";
            position: absolute;
            right: -9px;
            top: -1px;
            z-index: 20;
            border-left: 10px solid #fff;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            transition: 0.3s ease;
        }

        &:after {
            content: "";
            position: absolute;
            right: -10px;
            top: -1px;
            z-index: 10;
            border-left: 10px solid #ccc;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
        }

        &.active {

            a {
                color: #000;
                background: $primary;
            }
        }

        &.first {
            border-left: none;

            a {
                font-size: 18px;
                padding-left: 0px;
                border-radius: 5px 0px 0px 5px;
            }
        }

        a {
            display: block;
            font-size: 14px;
            line-height: 30px;
            color: #000000;
            padding: 0px 15px 0px 25px;
            text-decoration: none;
            background: #fff;
            border: 1px solid #ddd;
            white-space: nowrap;
            overflow: hidden;
            transition: 0.3s ease;
        }
    }
}

.search-field {
    position: relative;
}

.btn-search-field {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
}
</style>
